.App {
  /*   font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw; */
  height: 100vh;
  color: aliceblue;
  display: flex;
  text-align: center;
  background-color: #282c34;
}

body {
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;

  /* background-image: linear-gradient(to bottom right, #360033, #0b8793); */
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #5e17eb, 0 0 20px #5e17eb, 0 0 30px #098d7d,
      0 0 40px #098d7d, 0 0 50px #098d7d, 0 0 60px #098d7d, 0 0 70px #098d7d;
  }
  to {
    text-shadow: 0 0 20px #5e17eb, 0 0 30px #54076b, 0 0 40px #54076b,
      0 0 50px #54076b, 0 0 60px #54076b, 0 0 70px #54076b, 0 0 80px #54076b;
  }
}
